<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>결제 진행</title>
  <script src="https://js.tosspayments.com/v1"></script>
</head>
<body>
<div th:replace="~{layouts/default :: layout(~{::section})}">
  <section>
    <h1>결제 진행</h1>
    <p>토스페이먼츠 결제창을 여는 중입니다.</p>
    <button id="payment-button" type="button">결제창 다시 열기</button>
    <script th:inline="javascript">
      const tossPayments = TossPayments(/*[[${clientKey}]]*/ 'test_client_key');
      const payment = /*[[${payment}]]*/ {};

      function requestPayment() {
        tossPayments.requestPayment('카드', {
          amount: payment.amount,
          orderId: payment.orderId,
          orderName: payment.planType + ' 플랜 구독',
          successUrl: window.location.origin + '/payments/success',
          failUrl: window.location.origin + '/payments/fail'
        });
      }

      document.getElementById('payment-button').addEventListener('click', requestPayment);
      requestPayment();
    </script>
  </section>
</div>
</body>
</html>